---
---

@import "{{ site.theme }}"
;
/* LAYOUT STYLES */
body {
    font-family: 'Arial', Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-image: url('file:///C:\Users\marin\Desktop\background.jpg') 0 0 repeat;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Arial', Arial, serif;
  background: #472400 url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Lleida_%2840262867523%29.jpg/2560px-Lleida_%2840262867523%29.jpg) 0 0 repeat;
  border-bottom: solid 1px #472400;
  
}
