---
---

@import "{{ site.theme }}"
;
/* LAYOUT STYLES */
body {
    font-family: 'Arial', Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-image: url('file:///C:\Users\marin\Desktop\background.jpg') 0 0 repeat;
}
