---
---

@import "{{ site.theme }}"
;
/* LAYOUT STYLES */
body {
    font-family: 'Arial', Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-image: url('/images/HeaderMist.PNG') 0 0 repeat;
}
#header {
  background-image: url('/images/HeaderMist.PNG');
  background-size: cover;
  background-position: center;
}

